body{
    padding: 100px 100px;
}

.box{
    margin-top: 100px;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
}
#transect{
    display: none;
}
.bnk{
    border: none;
    border-radius: 30px;
    margin: 30px;
    padding: 40px;
    color: white;
    width: 300px;
    text-align: center;
}
.orange{
    background-color: rgb(255, 133, 45);
}
.pink{
    background-color: rgb(179, 33, 142);
}
.blue{
    background-color: rgb(22, 124, 124);
}

